<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/learn-support.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/lightroom.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_base.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_search_results.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/globalnav.css" | prepend: site.baseurl }}">

<div style="" class="content-wrapper">
    <h1 style="" class="serp-title">Search Tutorials <a style="" class="about-new-search" data-tooltip="Learn what we fixed and why" href="http://luanneseymour.wordpress.com/2014/09/30/find-the-right-tutorial-faster-with-adobes-new-search/">New</a></h1>

    <form style="" class="serp-search" action="" method="get">
        <input style="" class="serp-search-input" name="q" placeholder="Search tutorials" autocomplete="off" type="text">
        <input style="" class="serp-search-btn" value="" type="submit">
        <input style="" id="serp-search-product" name="product" value="" type="hidden">
    </form>

    <div style="" class="serp-no-results hide">
        <div style="" class="no-results-header">
            <div style="" class="no-results-headline">Sorry, we couldn’t find any results for “photo” in Lightroom</div>
            <div style="" class="no-results-remove-app hide"><a style="" class="no-results-remove-app-link" href="?q=photo">Search for “photo” in all tutorials</a>
            </div>
            <div style="" class="no-results-dot-com-search"><a style="" class="dot-com-search-link" href="//www.adobe.com/cfusion/search/index.cfm?loc=en_US&amp;self=1&amp;lr=en_US&amp;term=photo">Expand my search to all of Adobe.com, not just tutorials</a>
            </div>
        </div>

        <div style="" class="no-results-tips">
            <p style="" class="no-results-tips-intro">You can try your search again, using some of these tips:</p>
            <ul style="">
                <li style="">Try entering different or more general keywords
                    <br style="">(you can always narrow your results later)</li>
                <li style="">Try different words that mean the same thing</li>
                <li style="">Double-check your spelling</li>
            </ul>
        </div>

        <div style="" class="no-results-popular">
            <div style="" class="no-results-popular-headline">Popular Lightroom tutorials</div>
            <div style="" class="no-results-popular-results">
            </div>
        </div>
    </div>

    <div style="" class="serp-facets">
        <div style="" class="serp-facets-summary">
            <div class="serp-facets-summary-label">Your Selections</div>
            <ul class="serp-facet-value-list">

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="summary-app-lightroom" checked="checked" data-facet-type="app" value="lightroom" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="summary-app-lightroom">Lightroom (45)</label>
                </li>




            </ul>
        </div>

        <div style="" class="serp-facets-section-title">Refine By</div>

        <div style="" class="serp-facet-value-lists">
            <div class="serp-facet-title">App</div>
            <ul class="serp-facet-value-list">

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-behance" data-facet-type="app" value="behance" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-behance">Behance (1)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-color" data-facet-type="app" value="color" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-color">Color CC (1)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-creative-cloud" data-facet-type="app" value="creative-cloud" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-creative-cloud">Creative Cloud (3)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-dreamweaver" data-facet-type="app" value="dreamweaver" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-dreamweaver">Dreamweaver CC (1)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-illustrator" data-facet-type="app" value="illustrator" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-illustrator">Illustrator CC (1)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-indesign" data-facet-type="app" value="indesign" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-indesign">InDesign CC (1)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-lightroom" checked="checked" data-facet-type="app" value="lightroom" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-lightroom">Lightroom (45)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-lightroom-mobile" data-facet-type="app" value="lightroom-mobile" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-lightroom-mobile">Lightroom mobile (4)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-muse" data-facet-type="app" value="muse" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-muse">Adobe Muse CC (1)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-photoshop" data-facet-type="app" value="photoshop" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-photoshop">Photoshop CC (50)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-premiere-pro" data-facet-type="app" value="premiere-pro" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-premiere-pro">Premiere Pro CC (2)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-app-typekit" data-facet-type="app" value="typekit" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-app-typekit">Typekit (1)</label>
                </li>

            </ul>



            <div class="serp-facet-title">Level</div>
            <ul class="serp-facet-value-list">

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-level-beginner" data-facet-type="level" value="beginner" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-level-beginner">Beginner (35)</label>
                </li>

                <li class="serp-facet-value">
                    <input class="facet-checkbox" id="facet-level-intermediate" data-facet-type="level" value="intermediate" type="checkbox">
                    <label class="serp-facet-checkbox-label" for="facet-level-intermediate">Int./Advanced (36)</label>
                </li>

            </ul>


            <div class="serp-facet-title">New features</div>
            <ul class="serp-facet-value-list">
                <li class="serp-facet-value">
                    <input class="facet-app-version" id="facet-featureReleaseDate-6" name="app-version" value="6" type="radio">
                    <label class="serp-facet-radio-label" for="facet-featureReleaseDate-6">Within 6 months (5)</label>
                </li>
                <li class="serp-facet-value">
                    <input class="facet-app-version" id="facet-featureReleaseDate-12" name="app-version" value="12" type="radio">
                    <label class="serp-facet-radio-label" for="facet-featureReleaseDate-12">Within 1 year (9)</label>
                </li>
                <li class="serp-facet-value">
                    <input class="facet-app-version" id="facet-featureReleaseDate-0" checked="checked" name="app-version" value="0" type="radio">
                    <label class="serp-facet-radio-label" for="facet-featureReleaseDate-0">All results (45)</label>
                </li>
            </ul>
        </div>

        <div style="" class="serp-facets-dot-com-search">Want to look beyond tutorials? <a style="" class="dot-com-search-link" href="//www.adobe.com/cfusion/search/index.cfm?loc=en_US&amp;self=1&amp;lr=en_US&amp;term=photo">Search across the full Adobe.com site</a>.</div>
    </div>

    <div style="" class="serp-results">
        <div style="" class="serp-results-top-meta">
            <div style="" class="results-top-meta-query"><span style="" class="results-top-meta-query-label">Your Search</span>  <span style="" id="results-top-meta-query-text">photo</span>
            </div>
            <div style="" class="results-top-meta-count"><span style="" class="results-meta-total">45</span> results found</div>
        </div>

        <div style="" class="serp-results-list">
            <article class="content-item">
                <a class="content-item-thumbnail" href="https://helpx.adobe.com/lightroom/how-to/manage-all-your-photos.html">
                    <img class="content-item-thumbnail-img" src="../img/lightroom-managedigitalimage_297x176.jpg">
                </a>
                <div class="content-item-body">
                    <p class="content-item-title"><a href="https://helpx.adobe.com/lightroom/how-to/manage-all-your-photos.html">How to manage your digital <span class="query-term">photo</span>s</a>
                    </p>
                    <p class="content-item-snippet">Learn to import, organize, and perfect your <span class="query-term">photo</span>s in the Lightroom nondestructive editing environment.</p>
                    <div class="content-item-meta">

                        <div class="content-item-content-type" style="background-image: url(&quot;../img/mp_do_32_n_lt.svg&quot;);">Hands-on tutorial, 32 min</div>


                        <div class="content-item-apps-used">Lightroom</div>


                        <div class="content-item-level">Beginner, Int./Advanced</div>

                    </div>
                </div>
            </article>
            <article class="content-item">
                <a class="content-item-thumbnail" href="https://helpx.adobe.com/lightroom/how-to/edit-share-mobile-photo.html">
                    <img class="content-item-thumbnail-img" src="../img/edit-share-mobile-photo_297x176.jpg">
                </a>
                <div class="content-item-body">
                    <p class="content-item-title"><a href="https://helpx.adobe.com/lightroom/how-to/edit-share-mobile-photo.html">Edit <span class="query-term">photo</span>s on the go</a>
                    </p>
                    <p class="content-item-snippet">Crop, apply presets to create unique effects, and share your <span class="query-term">photo</span>s with friends and family with Lightroom mobile.</p>
                    <div class="content-item-meta">

                        <div class="content-item-content-type" style="background-image: url(&quot;../img/mp_videoplay_32_n_lt.svg&quot;);">Video tutorial, 2 min</div>


                        <div class="content-item-apps-used">Lightroom</div>


                        <div class="content-item-level">Beginner</div>

                    </div>
                </div>
            </article>
            <article class="content-item">
                <a class="content-item-thumbnail" href="https://helpx.adobe.com/lightroom/how-to/lightroom-print-photos.html">
                    <img class="content-item-thumbnail-img" src="../img/lr-generic-05_297x176.jpg">
                </a>
                <div class="content-item-body">
                    <p class="content-item-title"><a href="https://helpx.adobe.com/lightroom/how-to/lightroom-print-photos.html">Print <span class="query-term">photo</span>s</a>
                    </p>
                    <p class="content-item-snippet">Explore the various ways you can print <span class="query-term">photo</span>s in Lightroom.</p>
                    <div class="content-item-meta">

                        <div class="content-item-content-type" style="background-image: url(&quot;../img/mp_videoplay_32_n_lt.svg&quot;);">Video tutorial, 9 min</div>


                        <div class="content-item-apps-used">Lightroom</div>


                        <div class="content-item-level">Beginner, Int./Advanced</div>

                    </div>
                </div>
            </article>
            <article class="content-item">
                <a class="content-item-thumbnail" href="https://helpx.adobe.com/lightroom/how-to/lightroom-healing-brush-visualization.html">
                    <img class="content-item-thumbnail-img" src="../img/lightroom-healing-brush-visualization_297x176.jpg">
                </a>
                <div class="content-item-body">
                    <p class="content-item-title"><a href="https://helpx.adobe.com/lightroom/how-to/lightroom-healing-brush-visualization.html">How to get rid of something in your <span class="query-term">photo</span></a>
                    </p>
                    <p class="content-item-snippet">Discover the new enhancements to Lightroom’s Advanced Healing Brush. Heal and clone non-circular brush spots and remove easy-to-miss sensor dust using the new Visualization tool.</p>
                    <div class="content-item-meta">

                        <div class="content-item-content-type" style="background-image: url(&quot;../img/mp_videoplay_32_n_lt.svg&quot;);">Video tutorial, 4 min</div>


                        <div class="content-item-apps-used">Lightroom</div>


                        <div class="content-item-level">Beginner, Int./Advanced</div>

                    </div>
                </div>
            </article>
            <article class="content-item">
                <a class="content-item-thumbnail" href="https://helpx.adobe.com/lightroom/how-to/create-smart-previews.html">
                    <img class="content-item-thumbnail-img" src="../img/create-smart-previews_297x176.jpg">
                </a>
                <div class="content-item-body">
                    <p class="content-item-title"><a href="https://helpx.adobe.com/lightroom/how-to/create-smart-previews.html">How to edit <span class="query-term">photo</span>s in Lightroom using an external drive</a>
                    </p>
                    <p class="content-item-snippet">Use lightweight, efficient Smart Previews to work with offline images in Lightroom.</p>
                    <div class="content-item-meta">

                        <div class="content-item-content-type" style="background-image: url(&quot;../img/mp_videoplay_32_n_lt.svg&quot;);">Video tutorial, 10 min</div>


                        <div class="content-item-apps-used">Lightroom</div>


                        <div class="content-item-level">Int./Advanced</div>

                    </div>
                </div>
            </article>
            <article class="content-item">
                <a class="content-item-thumbnail" href="https://helpx.adobe.com/lightroom/how-to/lightroom-correct-perspective-upright.html">
                    <img class="content-item-thumbnail-img" src="../img/lightroom-correct-perspective-upright_297x176.jpg">
                </a>
                <div class="content-item-body">
                    <p class="content-item-title"><a href="https://helpx.adobe.com/lightroom/how-to/lightroom-correct-perspective-upright.html">How to straighten and level objects in your <span class="query-term">photo</span></a>
                    </p>
                    <p class="content-item-snippet">Automatically fix common problems, such as tilted horizons and converging verticals in buildings using Lightroom’s Upright controls for perspective correction.</p>
                    <div class="content-item-meta">

                        <div class="content-item-content-type" style="background-image: url(&quot;../img/mp_videoplay_32_n_lt.svg&quot;);">Video tutorial, 8 min</div>


                        <div class="content-item-apps-used">Lightroom</div>


                        <div class="content-item-level">Beginner, Int./Advanced</div>

                    </div>
                </div>
            </article>
            <article class="content-item">
                <a class="content-item-thumbnail" href="https://helpx.adobe.com/lightroom/how-to/convert-photo-black-white.html">
                    <img class="content-item-thumbnail-img" src="../img/convert-photo-bw_297x176.jpg">
                </a>
                <div class="content-item-body">
                    <p class="content-item-title"><a href="https://helpx.adobe.com/lightroom/how-to/convert-photo-black-white.html">Go retro: Convert to B&amp;W</a>
                    </p>
                    <p class="content-item-snippet">Create stunning black &amp; white <span class="query-term">photo</span>s from your color <span class="query-term">photo</span>s with Lightroom presets, and fine-tune the look further with easy-to-use adjustment sliders.</p>
                    <div class="content-item-meta">

                        <div class="content-item-content-type" style="background-image: url(&quot;../img/mp_view_32_n_lt.svg&quot;);">Graphical tutorial, 2 min</div>


                        <div class="content-item-apps-used">Lightroom</div>


                        <div class="content-item-level">Beginner</div>

                    </div>
                </div>
            </article>
            <article class="content-item">
                <a class="content-item-thumbnail" href="https://helpx.adobe.com/lightroom/how-to/crop-straighten-photo.html">
                    <img class="content-item-thumbnail-img" src="../img/crop-straighten-photo_297x176.jpg">
                </a>
                <div class="content-item-body">
                    <p class="content-item-title"><a href="https://helpx.adobe.com/lightroom/how-to/crop-straighten-photo.html">Crop and level</a>
                    </p>
                    <p class="content-item-snippet">Fix tilted <span class="query-term">photo</span>s with alignment guides and crop them to specific sizes for picture-perfect results in Lightroom.</p>
                    <div class="content-item-meta">

                        <div class="content-item-content-type" style="background-image: url(&quot;../img/mp_do_32_n_lt.svg&quot;);">Hands-on tutorial, 2 min</div>


                        <div class="content-item-apps-used">Lightroom</div>


                        <div class="content-item-level">Beginner</div>

                    </div>
                </div>
            </article>
            <article class="content-item">
                <a class="content-item-thumbnail" href="https://helpx.adobe.com/lightroom/how-to/fix-lens-distortion-photo.html">
                    <img class="content-item-thumbnail-img" src="../img/fix-lens-distortion-photo_297x176.jpg">
                </a>
                <div class="content-item-body">
                    <p class="content-item-title"><a href="https://helpx.adobe.com/lightroom/how-to/fix-lens-distortion-photo.html">Straighten up!</a>
                    </p>
                    <p class="content-item-snippet">Correct distorted horizontal or vertical perspectives in <span class="query-term">photo</span>s with the Upright feature in Lightroom.</p>
                    <div class="content-item-meta">

                        <div class="content-item-content-type" style="background-image: url(&quot;../img/mp_do_32_n_lt.svg&quot;);">Hands-on tutorial, 2 min</div>


                        <div class="content-item-apps-used">Lightroom</div>


                        <div class="content-item-level">Beginner</div>

                    </div>
                </div>
            </article>
            <article class="content-item">
                <a class="content-item-thumbnail" href="https://helpx.adobe.com/lightroom/how-to/lightroom-mobile.html">
                    <img class="content-item-thumbnail-img" src="../img/lr-mobile-hero-297x176.jpg">
                </a>
                <div class="content-item-body">
                    <p class="content-item-title"><a href="https://helpx.adobe.com/lightroom/how-to/lightroom-mobile.html">Get started with Lightroom mobile</a>
                    </p>
                    <p class="content-item-snippet">Edit and organize images on your iPad with Lightroom mobile.</p>
                    <div class="content-item-meta">

                        <div class="content-item-content-type" style="background-image: url(&quot;../img/mp_view_32_n_lt.svg&quot;);">Graphical tutorial, 17 min</div>


                        <div class="content-item-apps-used">Lightroom, Lightroom mobile</div>


                        <div class="content-item-level">Beginner, Int./Advanced</div>

                    </div>
                </div>
            </article>
        </div>

        <div style="" class="serp-results-next-meta">
            <div style="" class="results-next-meta-count">Viewing <span style="" id="results-meta-min">1</span>-<span style="" id="results-meta-max">10</span> of <span style="" class="results-meta-total">45</span>
            </div>
            <div style="" class="more-results-btn">Show next 10 results</div>
            <a style="" class="results-return-to-top" href="#top">Return to top</a>
        </div>
    </div>
</div>