<footer class="dom-footer-container" data-language="en">
    <div class="row">
        <div class="small-16 medium-7 columns">
            <input id="regions-visible" type="checkbox">
            <a id="region-selector" class="dom-footer-container--link--bigger dom-footer-container--link--region" title="Change region">
                <span class="geobats-world"></span><span style="display: none;" class="dom-footer--changeregion">Change region</span><span style="display: inline;" class="dom-footer--region hide"><span class="dom-footer--region-country">United States</span> (<span class="dom-footer--re-changeregion">Change</span>)</span>
            </a>
            <div class="dom-footer--region-panel-container" data-reveal="">

                <div class="dom-footer--region-panel">
                    <div class="dom-footer--region-panel-header">
                        <span class="dom-footer--region-panel-title">Choose your region</span> 
                        <label for="regions-visible" id="sfRegionClose" class="dom-footer--region-panel-close icon-close"></label>
                        <p class="dom-footer--region-panel-content">Selecting a region changes the language and/or content on Adobe.com.</p>
                    </div>
                    <dl>
                        <dt class="dom-footer--region-panel-header">Americas</dt>
                        <dd lang="pt"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/br/">Brasil</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/ca/">Canada - English</a>
                        </dd>
                        <dd lang="fr"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/ca_fr/">Canada - Français</a>
                        </dd>
                        <dd lang="es"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/la/">Latinoamérica</a>
                        </dd>
                        <dd lang="es"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/mx/">México</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/us/">United States</a>
                        </dd>
                        <dt class="dom-footer--region-panel-header">Europe, Middle East and Africa</dt>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/africa/">Africa - English</a>
                        </dd>
                        <dd lang="nl"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/be_nl/">België</a>
                        </dd>
                        <dd lang="fr"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/be_fr/">Belgique</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/be_en/">Belgium - English</a>
                        </dd>
                        <dd lang="cs"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/cz/">Česká republika</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/eeurope/">Cyprus - English</a>
                        </dd>
                        <dd lang="da"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/dk/">Danmark</a>
                        </dd>
                        <dd lang="de"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/de/">Deutschland</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/eeurope/">Eastern Europe - English</a>
                        </dd>
                        <dd lang="et"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/ee/">Eesti</a>
                        </dd>
                        <dd lang="es"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/es/">España</a>
                        </dd>
                        <dd lang="fr"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/fr/">France</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/eeurope/">Greece - English</a>
                        </dd>
                        <dd lang="hr"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/hr/">Hrvatska</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/ie/">Ireland</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/il_en/">Israel - English</a>
                        </dd>
                        <dd lang="it"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/it/">Italia</a>
                        </dd>
                        <dd lang="lv"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/lv/">Latvija</a>
                        </dd>
                        <dd lang="lt"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/lt/">Lietuva</a>
                        </dd>
                        <dd lang="de"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/lu_de/">Luxembourg - Deutsch</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/lu_en/">Luxembourg - English</a>
                        </dd>
                        <dd lang="fr"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/lu_fr/">Luxembourg - Français</a>
                        </dd>
                        <dd lang="hu"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/hu/">Magyarország</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/eeurope/">Malta - English</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/mena_en/">Middle East and North Africa - English</a>
                        </dd>
                        <dd lang="fr"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/mena_fr/">Moyen-Orient et Afrique du Nord - Français</a>
                        </dd>
                        <dd lang="nl"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/nl/">Nederland</a>
                        </dd>
                        <dd lang="no"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/no/">Norge</a>
                        </dd>
                        <dd lang="de"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/at/">Österreich</a>
                        </dd>
                        <dd lang="pl"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/pl/">Polska</a>
                        </dd>
                        <dd lang="pt"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/pt/">Portugal</a>
                        </dd>
                        <dd lang="ro"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/ro/">România</a>
                        </dd>
                        <dd lang="de"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/ch_de/">Schweiz</a>
                        </dd>
                        <dd lang="sl"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/si/">Slovenija</a>
                        </dd>
                        <dd lang="sk"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/sk/">Slovensko</a>
                        </dd>
                        <dd lang="sr"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/rs/">Srbija</a>
                        </dd>
                        <dd lang="fr"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/ch_fr/">Suisse</a>
                        </dd>
                        <dd lang="fi"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/fi/">Suomi</a>
                        </dd>
                        <dd lang="sv"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/se/">Sverige</a>
                        </dd>
                        <dd lang="it"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/ch_it/">Svizzera</a>
                        </dd>
                        <dd lang="tr"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/tr/">Türkiye</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/uk/">United Kingdom</a>
                        </dd>
                        <dd lang="bg"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/bg/">България</a>
                        </dd>
                        <dd lang="ru"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/ru/">Россия</a>
                        </dd>
                        <dd lang="uk"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/ua/">Україна</a>
                        </dd>
                        <dd lang="ar"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/mena_ar/">الشرق الأوسط وشمال أفريقيا - اللغة العربية</a>
                        </dd>
                        <dd lang="he"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/il_he/">ישראל - עברית</a>
                        </dd>
                        <dt class="dom-footer--region-panel-header">Asia - Pacific</dt>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/au/">Australia</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/hk_en/">Hong Kong S.A.R. of China</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/in/">India - English</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/nz/">New Zealand</a>
                        </dd>
                        <dd lang="en"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/sea/">Southeast Asia (Includes Indonesia, Malaysia, Philippines, Singapore, Thailand, and Vietnam) - English</a>
                        </dd>
                        <dd lang="zh"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/cn/">中国</a>
                        </dd>
                        <dd lang="zh"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/hk_zh/">中國香港特別行政區</a>
                        </dd>
                        <dd lang="zh"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/tw/">台灣</a>
                        </dd>
                        <dd lang="ja"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/jp/">日本</a>
                        </dd>
                        <dd lang="ko"><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/kr/">한국</a>
                        </dd>
                        <dt class="dom-footer--region-panel-header">Commonwealth of Independent States</dt>
                        <dd><a onclick="changeRegionFooter($(this).attr('href').replace(/\//g,''));return(false);" href="/cis/">Includes Armenia, Azerbaijan, Belarus, Georgia, Kazakhstan, Kyrgyzstan, Moldova, Tajikistan, Turkmenistan, Ukraine, Uzbekistan</a>
                        </dd>
                    </dl>
                    <div class="nub"></div>
                </div>
            </div>
            <span class="footer-grouplinks">
            
              
                  <a href="http://www.adobe.com/products/catalog/software.html" class="dom-footer-container--link--bigger" title="Products">
                    Products
                  </a>
              
                  <a href="http://www.adobe.com/downloads.html" class="dom-footer-container--link--bigger" title="Downloads">
                    Downloads
                  </a>
              
                  <a href="http://helpx.adobe.com/support.html" class="dom-footer-container--link--bigger" title="Learn &amp; Support">
                    Learn &amp; Support
                  </a>
              
                  <a href="http://www.adobe.com/company.html" class="dom-footer-container--link--bigger" title="Company">
                    Company
                  </a>
              
            
				</span>
        </div>
        <div class="dom-footer--right-column small-16 medium-9 columns">
            <span class="dom-footer-container--copyright">
              Copyright © 2014 Adobe Systems Incorporated. All rights reserved.
            </span>
            <div class="dom-footer-container--small-links">


                <a href="http://www.adobe.com/privacy.html" class="dom-footer-container--link" title="Privacy">
                    Privacy
                  </a>

                <a href="http://www.adobe.com/legal/general-terms.html" class="dom-footer-container--link" title="Terms of Use">
                    Terms of Use
                  </a>

                <a href="http://www.adobe.com/privacy/cookies.html" class="dom-footer-container--link" title="Cookies">
                    Cookies
                  </a>


            </div>
        </div>
    </div>
</footer>