<div class="header-container lightroom">
    <header class="app-header hide-on-load">
        <div class="global-nav-placeholder">
            <nav style="opacity: 1;" id="globalnav__menu-bar" class="globalnav__js__menu-bar">
                <ul>
                    <li class="globalnav__menu-bar__item">
                        <button data-menu-id="sitemap" type="button" aria-haspopup="true" class="globalnav__menu-bar__button globalnav__js__menu-bar__button globalnav__custom-color-button"> <span class="globalnav__icon globalnav__icon--menu globalnav__icon-0"></span>  <span class="globalnav__menu-bar__item__title">Menu</span> 
                        </button>
                    </li>
                    <li class="globalnav__menu-bar__item">
                        <button data-menu-id="search" type="button" aria-haspopup="true" class="globalnav__menu-bar__button globalnav__js__menu-bar__button globalnav__custom-color-button"> <span class="globalnav__icon globalnav__icon--search globalnav__icon-1"></span>  <span class="globalnav__menu-bar__item__title">Search</span> 
                        </button>
                    </li>
                    <li style="" class="globalnav__menu-bar__item globalnav__js__menu-bar__item__profile">
                        <button data-menu-id="profile" type="button" aria-haspopup="true" class="globalnav__menu-bar__button globalnav__js__menu-bar__button globalnav__custom-color-button">
                            <img style="opacity: 1;" src="https://a2.behance.net/img/profile/no-image-138.jpg?cb=1719257466" class="globalnav__icon globalnav__icon--avatar globalnav__js__menu-bar__item__profile--avatar"> <span class="globalnav__menu-bar__item__title globalnav__menu-bar__item__title--profile globalnav__js__menu-bar__item__title--profile">PAOLO</span> 
                        </button>
                    </li>
                    <li style="display: none;" class="globalnav__menu-bar__item globalnav__js__menu-bar__item__signin">
                        <button data-menu-id="signin" type="button" class="globalnav__menu-bar__button globalnav__js__menu-bar__button globalnav__custom-color-button"> <span class="globalnav__icon globalnav__icon--person globalnav__icon-2"></span>  <span class="globalnav__menu-bar__item__title">Sign In</span> 
                        </button>
                    </li>
                    <li class="globalnav__menu-bar__item globalnav__js__menu-bar__item__logo">
                        <a data-menu-id="logo" href="https://www.adobe.com" class="globalnav__menu-bar__button globalnav__js__menu-bar__button globalnav__custom-color-button"> <span class="globalnav__icon globalnav__icon--logo globalnav__icon-3"></span> 
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <br clear="all">
        <h1 class="breadcrumb mnemonic lightroom">Adobe Photoshop Lightroom</h1>
        <div class="headlinks">
            <a class="headlink" id="headlink_overview" href="//www.adobe.com/go/learn_lightroom_overview_en">Overview</a>
            <a class="headlink" id="headlink_whats-new" href="//www.adobe.com/go/learn_lightroom_whatsnew_en">What’s New</a>
            <a class="headlink selected" id="headlink_learn-support" href="//www.adobe.com/go/learn_lightroom_support_en">Learn &amp; Support</a>
            <a class="headlink gravity-download" id="headlink_download" href="//www.adobe.com/go/learn_lightroom_download_en">Download</a>
            <a class="buy-button" id="headlink_how-to-buy" href="//www.adobe.com/go/learn_lightroom_howtobuy_en">Buy Now</a>
        </div>
    </header>
</div>