<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/learn-support.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/globalnav.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/lightroom.css" | prepend: site.baseurl }}">

<article class="learn-support-page">

    <section class="learn-section">
        <div class="learn">
            <img src="../img/hand-touch.png">
            <h1 class="features-title">Learn</h1>
            <div class="text parbase learn-description">
                <p>Get started or go deeper with our library of tutorials, projects and articles.</p>
            </div>
            <div style="margin-top: 20px;" id="LearnSupportCards">
                <a class="categoryCard" href="/lightroom/how-to/manage-all-your-photos.html">
                    <img class="cardImage" src="../img/lightroom-managedigitalimage_297x176.jpg">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">GET STARTED</h2>
                        <h2 class="cardTitle">How to manage your digital photos</h2>
                    </div>
                    <div class="categoryCardFooter">
                        <div class="categoryCardContentType">
                            <img class="categoryCardContentTypeIcon" src="../img/mp_do_32_n_lt.svg"><span>Try it</span>
                        </div>
                        <div class="categoryCardContentDuration"><span>32 min</span>
                        </div>
                    </div>
                </a>
                <a class="categoryCard" href="/lightroom/how-to/lightroom-healing-brush-visualization.html">
                    <img class="cardImage" src="../img/lightroom-healing-brush-visualization_297x176.jpg">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">LEARN ESSENTIALS</h2>
                        <h2 class="cardTitle">How to get rid of something in your photo</h2>
                    </div>
                    <div class="categoryCardFooter">
                        <div class="categoryCardContentType">
                            <img class="categoryCardContentTypeIcon" src="../img/mp_videoplay_32_n_lt.svg"><span>Watch</span>
                        </div>
                        <div class="categoryCardContentDuration"><span>4 min</span>
                        </div>
                    </div>
                </a>
                <a class="categoryCard" href="/photoshop/how-to/lightroom-photoshop-workflow.html?set=lightroom--key-techniques--working-with-photoshop">
                    <img class="cardImage" src="../img/ps-lr-workflow_297x176.png">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">KEY TECHNIQUES</h2>
                        <h2 class="cardTitle">Use Photoshop with Lightroom</h2>
                    </div>
                    <div class="categoryCardFooter">
                        <div class="categoryCardContentType">
                            <img class="categoryCardContentTypeIcon" src="../img/mp_videoplay_32_n_lt.svg"><span>Watch</span>
                        </div>
                        <div class="categoryCardContentDuration"><span>7 min</span>
                        </div>
                    </div>
                </a>
                <a class="categoryCard" href="/lightroom/how-to/lightroom-mobile.html?set=lightroom--whats-new--2014-04">
                    <img class="cardImage" src="../img/lr-mobile-hero-297x176.jpg">
                    <div style="margin-top: 0px;" class="cardContainer">
                        <h2 class="cardTitle normal-text">WHAT'S NEW</h2>
                        <h2 class="cardTitle">Get started with Lightroom mobile</h2>
                    </div>
                    <div class="categoryCardFooter">
                        <div class="categoryCardContentType">
                            <img class="categoryCardContentTypeIcon" src="../img/mp_view_32_n_lt.svg"><span>See how</span>
                        </div>
                        <div class="categoryCardContentDuration"><span>17 min</span>
                        </div>
                    </div>
                </a>

                <a class="categoryCard last" href="/lightroom/topics.html">
                    <img class="cardImage" src="../img/manual-icon.png">
                    <div class="text parbase card-title">
                        <p>Lightroom Help</p>
                    </div>
                    <div class="card-description text parbase">
                        <p>Check out the online user manual for your product.</p>
                    </div>
                </a>
                <br clear="all">
            </div>
        </div>
        <div class="all-tutorials-nav"><a href="/lightroom/tutorials.html">Show all tutorials</a>
        </div>
    </section>

    <section class="support-section">
        <div class="support">
            <img src="../img/support-icon.png">
            <h1 class="support-title">Get Support</h1>
            <div class="text support-description parbase">
                <p>Find quick answers, engage with our vibrant community, and connect with Adobe staff.</p>
            </div>
            <div class="support-options clearfix">
                <div class="option">
                    <h2>Common Questions</h2> 
                    <a href="/lightroom/faq.html" id="common-questions-icon">
                        <img src="../img/common-questions.svg">
                    </a>
                    <p>Find answers to questions we hear the most</p>
                    <div class="text parbase common-questions-link">
                        <p><a href="/lightroom/faq.html" adhocenable="false">See them &gt;</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <h2>Top Issues</h2> 
                    <a href="/lightroom/top-issues.html" id="top-issues-icon">
                        <img src="../img/top-issues.svg">
                    </a>
                    <p>Get up-to-date solutions for issues and troubleshooting</p>
                    <div class="top-issues-link text parbase">
                        <p><a href="/lightroom/top-issues.html" adhocenable="false">See them &gt;</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <h2>Ask the Community</h2>
                    <a href="http://forums.adobe.com/community/lightroom" id="ask-the-community-icon">
                        <img src="../img/ask-community.svg">
                    </a>
                    <p>Post, discuss and be part of our knowledgeable community</p>
                    <div class="text parbase ask-the-community-link">
                        <p><a href="http://forums.adobe.com/community/lightroom" adhocenable="false">Join now &gt;</a>
                        </p>
                    </div>
                </div>

                <div class="option">
                    <h2>Contact Us</h2>
                    <a href="/contact.html?step=LTRM" id="contact-us-icon">
                        <img src="../img/contact-us.svg">
                    </a>
                    <p>Get help from one of our awesome support people</p>
                    <div class="text parbase contact-us-link">
                        <p><a href="/contact.html?step=LTRM" adhocenable="false">Start now &gt;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="docs-and-feedback">
            <div class="text parbase pdf-manuals">
                <p><a adhocenable="false" href="/lightroom/system-requirements.html">System requirements</a>
                </p>
            </div>
            <div class="text parbase release-notes">
                <p><a href="/lightroom/lightroom-releasenotes.html" adhocenable="false">Release Notes</a>
                </p>
            </div>
            <div class="bug-report text parbase">
                <p><a adhocenable="false" href="https://www.adobe.com/cfusion/mmform/index.cfm?name=wishform">Report a bug</a>
                </p>
            </div>
            <div class="text parbase contact-us">
                <p><a href="https://www.adobe.com/cfusion/mmform/index.cfm?name=wishform" adhocenable="false">Request a feature</a>
                </p>
            </div>
        </div>

        <div class="raw-html rawhtml"></div>
    </section>



</article>