<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/learn-support.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/globalnav.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_base.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/ccl_explore.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/lightroom.css" | prepend: site.baseurl }}">

<div class="content-wrapper">

    <div id="sticky-anchor"></div>
    <section class="path-navigation nav-bar-shadow-container">
        <div class="nav-bar-inner-wrapper">
            <div class="learn-path-tabs">
                <a class="learn-path-tab" data-tooltip="New to Photoshop Lightroom? Start here." data-target="get-started">Get started</a>
                <a class="learn-path-tab selected" data-tooltip="Dig in. Learn core concepts and skills." data-target="fundamentals">Learn essentials</a>
                <a class="learn-path-tab" data-tooltip="Go further. Advanced tutorials and workflows." data-target="key-techniques">Key techniques</a>
            </div>
            <div class="nav-bar-search-container">
                <form class="ccl-search" action="/tutorials-search.html" method="get">
                    <input class="ccl-search-input" name="q" placeholder="Search tutorials" autocomplete="off" type="text">
                    <input class="ccl-search-btn" value="" type="submit">
                    <input id="ccl-search-app" name="app" value="lightroom" type="hidden">
                </form>
            </div>
        </div>
    </section>
    <section class="learn-paths">

        <section id="get-started-path" class="learn-path">
            <header class="learn-path-header">
                <h2 class="learn-path-name" title="New to Photoshop Lightroom? Start here.">Get started</h2>
                <p class="learn-path-prompt">New to Photoshop Lightroom? Start here.</p>
            </header>
            <div class="get-started-path-content">

                <section class="overview">
                    <article class="tutorial what-is">
                        <h3 class="set-header-title">1. Overview — <span class="get-started-subtitle">Take a one-minute tour.</span></h3>
                        <a href="/lightroom/how-to/what-is-lightroom.html?set=lightroom--get-started--overview" title="What is Lightroom?">
                            <figure>
                                <img class="thumbnail" src="/content/dam/help/en/lightroom/how-to/what-is-lightroom_297x176.jpg" alt="What is Lightroom?">
                                <figcaption>What is Lightroom? <span class="caption-subtitle">Digital photo processing and editing.</span>
                                </figcaption>
                            </figure>
                        </a>
                    </article>
                </section>
                <section class="essentials">
                    <h3 class="set-header-title">2. Essentials for beginners — <span class="get-started-subtitle">Short tutorials to get you going.</span></h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-import-existing-images.html?set=lightroom--get-started--essential-beginners">Import existing images</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-interface.html?set=lightroom--get-started--essential-beginners">Lightroom 5 interface</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-understand-develop-module.html?set=lightroom--get-started--essential-beginners">Understanding the Develop module</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-crop-image.html?set=lightroom--get-started--essential-beginners">Crop an image</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-clean-blemishes.html?set=lightroom--get-started--essential-beginners">Clean up blemishes</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-module-workspace.html?set=lightroom--get-started--essential-beginners">Library module workspace</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="ready-to-use">
                    <article class="tutorial ready-to-use-feature">
                        <h3 class="set-header-title">3. Ready to use it? — <span class="get-started-subtitle">This hands-on project is the best way to learn.</span></h3>
                        <a href="/lightroom/how-to/manage-all-your-photos.html?set=lightroom--get-started--ready-to-use" title="How to manage your digital photos ">
                            <figure>
                                <img class="thumbnail" src="/content/dam/help/en/lightroom/how-to/lightroom-managedigitalimage_297x176.jpg" alt="How to manage your digital photos ">
                                <figcaption>How to manage your digital photos <span class="caption-subtitle">(Try it, 32 min)</span>
                                </figcaption>
                            </figure>
                        </a>
                    </article>
                    <h3 class="set-header-title-more-projects">More step-by-step projects</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-mobile.html?set=lightroom--get-started--more-step-by-step">Get started with Lightroom mobile</a>
                            </article>
                        </li>
                    </ul>
                </section>
            </div>

        </section>
        <section id="fundamentals-path" class="learn-path active-tab">
            <header class="learn-path-header">
                <h2 class="learn-path-name" title="Dig in. Learn core concepts and skills.">Learn essentials</h2>
                <p class="learn-path-prompt">Choose a tutorial to start learning.</p>
            </header>

            <div class="learn-path-content">
                <section class="set-header">
                    <h3 class="set-header-title">Lightroom workspace</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-general-workflow.html?set=lightroom--fundamentals--lightroom-workspace">General Lightroom workflow</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-work-panels-lights-out.html?set=lightroom--fundamentals--lightroom-workspace">Work with panels and Lights Out</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/creative-cloud/how-to/creative-cloud-sync-settings.html?set=lightroom--fundamentals--lightroom-workspace">Sync preferences and settings</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Import photos</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/help/importing-photos-lightroom-basic-workflow.html?set=lightroom--fundamentals--import-photo">Import photos from a camera or card reader</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-import-file-formats.html?set=lightroom--fundamentals--import-photo">Import images and look at file formats</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-move-folder-files.html?set=lightroom--fundamentals--import-photo">Move folders around in Lightroom</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/help/locate-missing-photos.html?set=lightroom--fundamentals--import-photo">Locate missing photos</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Develop photos</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-develop-basics.html?set=lightroom--fundamentals--develop-photo">Develop basics</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-control-white-balance.html?set=lightroom--fundamentals--develop-photo">Control white balance</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-highlights-shadows-white-blacks.html?set=lightroom--fundamentals--develop-photo">Highlights, shadows, whites, and blacks</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-clarity-vibrance-saturation.html?set=lightroom--fundamentals--develop-photo">Work with Clarity, Vibrance, and Saturation</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-adjustment-brush-basics.html?set=lightroom--fundamentals--develop-photo">Adjustment Brush: the basics</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-bw-adjustments.html?set=lightroom--fundamentals--develop-photo">Work with B&amp;W adjustments</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Sharpening and noise reduction</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-sharpen-image.html?set=lightroom--fundamentals--sharpen-noise-reduction">Sharpen an image</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-reduce-image-noise.html?set=lightroom--fundamentals--sharpen-noise-reduction">Reduce image noise in Lightroom 5</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Retouching photos</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-healing-brush-visualization.html?set=lightroom--fundamentals--retouch-photo">How to get rid of something in your photo</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/portrait-touch-up-lightroom-5.html?set=lightroom--fundamentals--retouch-photo">Portrait touch up in Lightroom 5</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Cropping, lens and perspective corrections</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-correct-perspective-upright.html?set=lightroom--fundamentals--crop-correct">How to straighten and level objects in your photo</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-lens-correction.html?set=lightroom--fundamentals--crop-correct">Lens corrections in Lightroom 5</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Organizing photos</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-collections.html?set=lightroom--fundamentals--organize-photos">Organize - save your favorites into a collection</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-quick-collection.html?set=lightroom--fundamentals--organize-photos">The Quick Collection</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-rate-flag-label.html?set=lightroom--fundamentals--organize-photos">Organize - ratings, flags, and color labels</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-keyword-overview.html?set=lightroom--fundamentals--organize-photos">Keyword overview</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-filter-metadata.html?set=lightroom--fundamentals--organize-photos">Filter photographs based on metadata</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Catalogs</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/help/lightroom-catalog-basics.html?set=lightroom--fundamentals--catalogs">How Lightroom catalogs work</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/help/back-catalog.html?set=lightroom--fundamentals--catalogs">Back up a catalog</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-export-catalogs.html?set=lightroom--fundamentals--catalogs">Export a catalog</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Printing</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-print-photos.html?set=lightroom--fundamentals--printing">Print photos</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-create-contact-sheet.html?set=lightroom--fundamentals--printing">Create a contact sheet</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Exporting photos</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/help/exporting-photos-basic-workflow.html?set=lightroom--fundamentals--export-photo">Export photos from Lightroom</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-share-facebook.html?set=lightroom--fundamentals--export-photo">Share photos on Facebook</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-generate-web-gallery.html?set=lightroom--fundamentals--export-photo">Generate a web gallery</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Lightroom mobile</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-mobile-setup-sync.html?set=lightroom--fundamentals--lightroom-mobile">Lightroom mobile - setup, collections, and flags</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-mobile-adjustments.html?set=lightroom--fundamentals--lightroom-mobile">Lightroom mobile - crop, adjust color, and presets</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-mobile-manage-collections.html?set=lightroom--fundamentals--lightroom-mobile">Lightroom mobile - manage collections and auto import from a camera roll</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-mobile-share.html?set=lightroom--fundamentals--lightroom-mobile">Lightroom mobile - showcase and share your photos</a>
                            </article>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
        <section id="key-techniques-path" class="learn-path">
            <header class="learn-path-header">
                <h2 class="learn-path-name" title="Go further. Advanced tutorials and workflows.">Key techniques</h2>
                <p class="learn-path-prompt">Choose a tutorial to start learning.</p>
            </header>

            <div class="learn-path-content">
                <section class="set-header">
                    <h3 class="set-header-title">Develop photos</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-adjust-tone-curve.html?set=lightroom--key-techniques--develop-photo">Adjustments with the Tone Curve</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-hsl-color-adjustments.html?set=lightroom--key-techniques--develop-photo">HSL and color adjustments</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/introducing-radial-filter.html?set=lightroom--key-techniques--develop-photo">Introducing the Radial filter</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-snapshots-history.html?set=lightroom--key-techniques--develop-photo">Work with snapshots and history</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/applying-changes-lightroom-5.html?set=lightroom--key-techniques--develop-photo">Apply changes to other photos</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/creative-cloud/how-to/creative-cloud-share-files-collaborate.html?set=lightroom--key-techniques--develop-photo">Sync and share your files with collaborators</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Working with Photoshop</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/photoshop/how-to/lightroom-photoshop-workflow.html?set=lightroom--key-techniques--working-with-photoshop">Use Photoshop with Lightroom</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-edit-in-photoshop.html?set=lightroom--key-techniques--working-with-photoshop">Edit in Photoshop</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/assemble-hdr-images-using-photoshop.html?set=lightroom--key-techniques--working-with-photoshop">Assemble HDR images using Photoshop and Lightroom</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/photoshop/how-to/photoshop-panorama.html?set=lightroom--key-techniques--working-with-photoshop">Create a panoramic photo</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Working efficiently</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-use-manage-plugins.html?set=lightroom--key-techniques--working-efficiently">Manage and use plugins in Lightroom</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-create-efficient-workflow.html?set=lightroom--key-techniques--working-efficiently">Create an efficient workflow</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-file-naming-options.html?set=lightroom--key-techniques--working-efficiently">File rename options</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/create-smart-previews.html?set=lightroom--key-techniques--working-efficiently">How to edit photos in Lightroom using an external drive</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Exporting photos</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-save-as-jpeg.html?set=lightroom--key-techniques--export-photo">Export and save your photos as JPEGs</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-export-watermark.html?set=lightroom--key-techniques--export-photo">Export and watermark your photos</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Sharing photos</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-photoshop-behance-share.html?set=lightroom--key-techniques--share-photo">Show your photos on Behance</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/prosite-behance-create-portfolio.html?set=lightroom--key-techniques--share-photo">Showcase your work on Behance</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-host-web-gallery.html?set=lightroom--key-techniques--share-photo">Host a Lightroom web gallery</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-generate-web-gallery.html?set=lightroom--key-techniques--share-photo">Generate a web gallery</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/creative-cloud/how-to/creative-cloud-share-files-collaborate.html?set=lightroom--key-techniques--share-photo">Sync and share your files with collaborators</a>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="set-header">
                    <h3 class="set-header-title">Designing and printing books</h3>
                    <ul class="tutorial-list">
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/lightroom-book-module.html?set=lightroom--key-techniques--design-print-book">The Book module</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/help/create-photo-book-lr5.html?set=lightroom--key-techniques--design-print-book">Create a photo book in Lightroom 5</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/lightroom/how-to/photoshop-lightroom-typekit-fonts.html?set=lightroom--key-techniques--design-print-book">Get new typefaces for your printed photo projects</a>
                            </article>
                        </li>
                        <li>
                            <article class="tutorial"><a href="/creative-cloud/how-to/cc-add-fonts-to-desktop.html?set=lightroom--key-techniques--design-print-book">Add fonts to desktop apps through Creative Cloud</a>
                            </article>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
    </section>
    <section class="feedback-link">
        <p>Did you find what you were looking for?
            <br><a href="http://adobecclresearch.com/s3/ccl-exp-lightroom">Tell us what you think</a>
        </p>
    </section>

    <section class="footer-links">
        <ul class="footer-link-items">
            <li class="footer-link-item">
                <a href="http://training.adobe.com/training/partner-finder.html#p=1">
                    <figure>
                        <img src="/content/dam/help/en/explore/auth-trainers_594x354a.jpg">
                        <figcaption>Find authorized trainers</figcaption>
                    </figure>
                </a>
            </li>
            <li class="footer-link-item">
                <a href="http://edex.adobe.com/">
                    <figure>
                        <img src="/content/dam/help/en/explore/EdEx_594x354.jpg">
                        <figcaption>Adobe Education Exchange</figcaption>
                    </figure>
                </a>
            </li>
            <li class="footer-link-item">
                <a href="https://max.adobe.com/?promoid=KOVFI">
                    <figure>
                        <img src="/content/dam/help/en/explore/MAX_594x354.jpg">
                        <figcaption>Adobe MAX. The Creativity Conference</figcaption>
                    </figure>
                </a>
            </li>
        </ul>
    </section>
</div>